
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    <h1 class="ejemplo1">Bienvenid@s a nuestra aplicación Django!!!</h1>
    <h3 class="ejemplo2">Gracias por compartir nuestro proyecto</h3>
<a class="button primary" href="#">Primary</a>
<a class="button secondary" href="#">Secondary</a>
<a class="button success" href="#">Success</a>
<a class="button alert" href="#">Alert</a>
<a class="button warning" href="#">Warning</a>
</body>
</html>

